        
        <div id="welcome">
            <a href="#thumbs"><button id="enterButton">Click Me</button></a>
            <div id="item">
                <div class="item">
                    Item 1
                </div>
                <div class="item2">
                    Item 2
                </div>
                <div class="item3">
                    Item 3
                </div>
            </div>
                
        </div>