        
        
               <div id="thumbs">
             
                <div id="search-form"  style="float:right;">
                    <input id="textbox" ng-model="searchText" type="text" name="Search"/>
                    <input id="searchButton" type="submit" value="Search" ng-click="search()"/>
                    <br>
                 
                </div>
                
                
                <div id="sideMenu">
                    <div id="sideHome" class="sideItem">
                        <img src="images/home.png" width="40" height="40">
                        <span class="spaceBefore">
                            Home
                        </span>
                    </div>
                    <div id="sideAbout" class="sideItem">
                        <img src="images/about.png" width="40" height="40">
                        <span class="spaceBefore">
                            About
                        </span>
                    </div>
                    <div id="sideContac" class="sideItem">
                        <img src="images/contact.png" width="40" height="40">
                        <span class="spaceBefore">
                            Contact
                        </span>
                    </div>
                </div>
                
                <div id="images" ng-repeat="photo in photos">
          
                 <figure><a href="{{photo.lightbox}}" data-lightbox="myImages" data-title="{{photo.description}}"><img src="{{photo.url}}" alt="{{photo.description}}" height="200" width="200"></img></a> 
                     <figcaption>{{photo.description}}</figcaption>
                </figure>
                
                </div>
  
            </div>