#header{
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    padding-top: 20px;
}

#footer{
    position:fixed;
    background-color: black;
    color:white;
    bottom:0px;
    left:5px;
    right:5px;
    height:40px;
    padding-left:10px;
}

#loginButton{
    position: inherit;
    right: 20px;
}

#search{
    position: inherit;
    float: right;
}

#content-center{
    padding: 20px;
}

#thumbnails{
    padding: 30px;
}

figure{
    float:left;
    font-size: 12px;
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    text-align: center;
    height: 220px;
    width: 220px;
    overflow: hidden;
}
