#header{
    background-color: black;
    color:white;
    height:50px;
    font-size:20px;
    text-align:center;
    padding-top:25px;
    padding-bottom:10px;
}

#thumbs{
    padding: 10px;
}

#search-form{
  padding: 10px;
}


#footer{
    position:fixed;
    background-color: black;
    color:white;
    bottom:0px;
    left:5px;
    right:5px;
    height:40px;
    padding-left:10px;
    
}

#author{
    position:relative;
    top: 18px;
}


#images{
    position: relative;
    margin-top: 10px;
    padding: 50px;
  
}

figure{
    float:left;
    font-size: 12px;
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    text-align: center;
    height: 220px;
    width: 220px;
    overflow: hidden;
}