#header{
    background-color: black;
    color:white;
    height:50px;
    font-size:20px;
    text-align:center;
    padding-top:25px;
    padding-bottom:10px;
}

#thumbs{
    padding: 30px;
}

#search-form{
  padding: 1px;
}


#footer{
    position:fixed;
    background-color: black;
    color:white;
    bottom:0px;
    left:5px;
    right:5px;
    height:40px;
    padding-left:10px;
    
}

#author{
    position:relative;
    top: 18px;
}


#images{
    position: relative;
    margin-top: 50px;
    width: 92%;
  
}

figure{
    float:left;
    font-size: 12px;
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    text-align: center;
    height: 220px;
    width: 220px;
    overflow: hidden;
}

#welcome{
	height: 150px;
	width: 400px;
	padding: 50px;
	position: relative;
	word-spacing: 1px;
	margin: auto;
	margin-top: 30px;
}

#enterButton{
    width: 50px;
    height: 50px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Side Menu Style */

#sideMenu{
    position: fixed;
    top: 230px;
    right: -210px;
    font-size: 30px;
}

.sideItem{
    width: 250px;
    margin-bottom: 5px;
    background-color: #A31218;
    padding: 5px;
    color: white;
    transition: transform 2s;
}

.sideItem:hover{
    -webkit-transform: translateX(-150px);
    transform: translateX(-100px);
}

.spacebefore{
    position: relative;
    left: 11px;
}

/* Moving Items Style */

.item{
    width: 200px;
    position: absolute;
    margin: 10px;
    top: 200px;
    left: 200px;
    background-color: #A31218;
    padding: 10px;
    color: white;
    -webkit-animation: moveit 5s;
    animation: moveit 5s;
    animation-iteration-count: infinite;
}

.item2{
    width: 200px;
    position: absolute;
    margin: 10px;
    top: 250px;
    left: 10px;
    background-color: #A31218;
    padding: 10px;
    color: white;
    -webkit-animation: moveit 5s;
    animation: moveit 5s;
    animation-iteration-count: infinite;
}

.item3{
    width: 200px;
    position: absolute;
    margin: 10px;
    top: 300px;
    left: 10px;
    background-color: #A31218;
    padding: 10px;
    color: white;
    -webkit-animation: moveit 5s;
    animation: moveit 5s;
    animation-iteration-count: infinite;
}

@keyframes moveit{
    0% {left: 200px; background-color: green; transform: rotate(-260deg);}
    50% {left: 300px; background-color: blue; transform: rotate(180deg);}
    100% {left: 600px; transform: rotate(0deg);}
}

@-webkit-keyframes moveit{
    0% {left: 200px; background-color: green; transform: rotate(-260deg);}
    50% {left: 300px; background-color: blue; transform: rotate(180deg);}
    100% {left: 600px; transform: rotate(0deg);}
}

/* --Angular Animate CSS-- */

.ng-enter{
    animation: slideUp 0.5s both ease-in;
    z-index: 8888;
    -webkit-animation: slideUp 0.5s both ease-in;
    z-index: 8888;
}

.ng-leave{
    animation: slideOutLeft 0.5s both ease-in;
    z-index: 9999;
    -webkit-animation: slideOutLeft 0.5s both ease-in;
    z-index: 9999;
}