<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        
        <!---- Stylesheets ---->
        <link rel="stylesheet" href="styles/style.css" type="text/css" />
        <link rel="stylesheet" href="lightbox2/dist/css/lightbox.css">
        
        <!---- Javascript Librarys ---->
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
        <!----
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js"></script>
        ---->
         <!---- Angular(MVC) ---->
         <script type="text/javascript" src="js/controller.js"></script>
         <script type="text/javascript" src="js/model-flickr.js"></script>
         <script type="text/javascript" src="js/view-flickr.js"></script>
         
        <title>Photo Album</title>
    </head>
    <body>
        
<!---- Top Header ---->
        
        <div id="header">
            My Photo Album
            <button id="loginButton" onclick="sayHello()" style="float:right;">Login</button>
            
        </div>
        
<!---- Content ---->
        <div id="content">
            
            <div id="welcome">
                <button id="enterButton">Enter</button>
                <div id="item">
                    <div class="item">
                        Item 1
                    </div>
                    <div class="item2">
                        Item 2
                    </div>
                    <div class="item3">
                        Item 3
                    </div>
                </div>
                
            </div>
            
            <!---- Angular Controller ---->
            <div id="thumbs" style="display:none">
                
                <div id="search-form"  style="float:right;">
                    <input id="textbox" type="text" ng-model="searchText" name="Search"/>
                    <input id="searchButton" type="button" ng-click="search()"  value="Search"/>
                </div>
                
                <div id="exit">
                    <img id="closeButton" src="images/close-button.png"></img>
                </div>
                
                <div id="sideMenu">
                    <div id="sideHome" class="sideItem">
                        <img src="images/home.png" width="40" height="40">
                        <span class="spaceBefore">
                            Home
                        </span>
                    </div>
                    <div id="sideAbout" class="sideItem">
                        <img src="images/about.png" width="40" height="40">
                        <span class="spaceBefore">
                            About
                        </span>
                    </div>
                    <div id="sideContac" class="sideItem">
                        <img src="images/contact.png" width="40" height="40">
                        <span class="spaceBefore">
                            Contact
                        </span>
                    </div>
                </div>
                
                <div id="images">
          
                    
                     
                </div>
  
            </div>
            
        </div>
        

<!---- Footer ---->
        <div id="footer">
            <span id="author">
                BY: Alan Koroma
            </span>
        </div>

        <script src="lightbox2/dist/js/lightbox-plus-jquery.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
    
</html>