
figure{
    float:left;
    font-size: 12px;
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    text-align: center;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

#images{
    position: relative;
    margin-top: 30px;
    padding: 50px;
}



#welcome{
	height: 150px;
	width: 400px;
	padding: 50px;
	position: relative;
	word-spacing: 1px;
	margin: auto;
	margin-top: 30px;
	
}

ol, ul {
	list-style:none;
}


html, body {
	margin:0;
	padding:0;
	min-height:100%;
	background-color: #E0FFFF;
}
/*-------------------*/
/* GENERAL SETTINGS  */
/*-------------------*/
body {
	height:100%;
	font: 12px/12px "Lucida Sans", "Lucida Grande", sans-serif;
	color: #000;

}
a {
	text-decoration:none;
	color: #000;
}
a:hover {
	text-decoration:none;
	color: #0285da;
	background-color: white;
}
 @font-face {
 font-family: 'Museo700';
 src: url('../fonts/museo700-regular-webfont.eot');
 src: url('../fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/museo700-regular-webfont.woff') format('woff'),  url('../fonts/museo700-regular-webfont.ttf') format('truetype'),  url('../fonts/museo700-regular-webfont.svg#Museo700') format('svg');
 font-weight: normal;
 font-style: normal;
}
/*-------------------*/
/*     WRAPPER       */
/*-------------------*/
#wrapper-top {

	height:18px;
	width:994px;
}
#wrapper {
	width: 994px;
	overflow: hidden;
	margin: 64px auto 0;

}
#wrapper-bottom {

	height:61px;
	width:994px;
	clear: both;
}
/*-------------------*/
/*     LEFT MENU     */
/*-------------------*/

/* Main Menu */
#left {
	width: 235px;
	float: left;
	min-height: 615px;
	position: relative;
}
#left .logo{
	display:block;
	font-family: Museo700;
	font-size: 18px;
}
#left .menu {
	width: 100%;
	border-top: 1px solid #eaeaea;
	margin-top: 30px;
}
#left .menu li a {
	display: block;
	height: 35px;
	line-height: 35px;
	padding-left: 22px;
	border-bottom: 1px solid #eaeaea;
}
#left .menu li a.active {
	color: #0285DA;
	border-right: 1px solid #fff;
}

#left-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}

/*-------------------*/
/*   RIGHT CONTENT   */
/*-------------------*/

/* Thumbnail Gallery Content*/
#right {
	width: 758px;
	float: right;
}

#pageInfo {
    text-align: justify;
    font-family: Museo700;
    font-size: 12px;
    line-height: 150%;
}

#right .thumbnails {
	overflow: hidden;
	padding:10px 0 0 32px;
}
#right .thumbnails li {
	float: left;
	margin: 0 21px 18px 0;
}
#right .thumbnails li a {
	border: 1px solid #eaeaea;
	padding: 2px;
	background: #f2f2f2;
	display: block;
}


/* Splash Screen */
.sp-container {
	position: absolute;
	top: 50%;
	height: 10px;
	margin-top: 50px;
	width: 100%;
	animation: fadeInRotate 3s ease-in backwards;
}

.frame-1 {
	animation-delay: 0s;
	list-style:none;
}


@keyframes fadeInRotate{
	0%{
		opacity: 0;
		transform: scale(0) rotate(360deg);
	}
	100%{
		opacity: 1;
		transform: scale(1) rotate(0deg);
	}
}

